<launch>

<include file ="$(find gazebo_ros)/launch/empty_world.launch"/>

<!--rosrun gazebo_ros spawn_model  -file two_dof_robot.urdf -urdf -model two_DOF_robot-->
  <!-- spawn robot in gazebo -->
  <node name="spawn_robot" pkg="gazebo_ros" type="spawn_model" args="-file $(find robot_description)/two_dof_robot.urdf -urdf -model two_DOF_robot"/>

<!-- send robot urdf to param server -->
<param name="robot_description" 
textfile="$(find robot_description)/two_dof_robot.urdf"/>

<!-- rosrun joints_controller joint1_controller -->
<node pkg="joints_controller" type="joint1_controller" name="joint1_controller"/>

<!-- rosrun joints_controller joint2_controller -->
<node pkg="joints_controller" type="joint2_controller" name="joint2_controller"/>

</launch>
